In [2]:
import polars as pl
data_path = "/workspaces/stock-market-analytics/data/stocks_history.parquet"

df = pl.read_parquet(data_path)

df

shape: (44_066, 7)
┌────────────┬────────┬───────────┬───────────┬───────────┬───────────┬──────────┐
│ date       ┆ symbol ┆ open      ┆ high      ┆ low       ┆ close     ┆ volume   │
│ ---        ┆ ---    ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ date       ┆ str    ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ i64      │
╞════════════╪════════╪═══════════╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2023-05-26 ┆ ATMU   ┆ 21.52217  ┆ 22.346508 ┆ 21.363262 ┆ 21.502306 ┆ 6277900  │
│ 2023-05-27 ┆ ATMU   ┆ null      ┆ null      ┆ null      ┆ null      ┆ null     │
│ 2023-05-28 ┆ ATMU   ┆ null      ┆ null      ┆ null      ┆ null      ┆ null     │
│ 2023-05-29 ┆ ATMU   ┆ null      ┆ null      ┆ null      ┆ null      ┆ null     │
│ 2023-05-30 ┆ ATMU   ┆ 21.1249   ┆ 21.750602 ┆ 20.856742 ┆ 21.522171 ┆ 892600   │
│ …          ┆ …      ┆ …         ┆ …         ┆ …         ┆ …         ┆ …        │
│ 2025-08-24 ┆ VICI   ┆ null      ┆ null      ┆ null      ┆ null      ┆ null     │
│ 2025-08-25 ┆ VICI   ┆ 33.349998 ┆ 33.619999 ┆ 33.330002 ┆ 33.5      ┆ 9778100  │
│ 2025-08-26 ┆ VICI   ┆ 33.490002 ┆ 33.634998 ┆ 33.27     ┆ 33.450001 ┆ 10021600 │
│ 2025-08-28 ┆ VICI   ┆ 33.759998 ┆ 33.764    ┆ 33.360001 ┆ 33.509998 ┆ 7280200  │
│ 2025-08-29 ┆ VICI   ┆ 33.599998 ┆ 33.915001 ┆ 33.52     ┆ 33.779999 ┆ 7845500  │
└────────────┴────────┴───────────┴───────────┴───────────┴───────────┴──────────┘

In [3]:
atmu = df.filter(pl.col("symbol") == "ATMU")

atmu

shape: (826, 7)
┌────────────┬────────┬───────────┬───────────┬───────────┬───────────┬─────────┐
│ date       ┆ symbol ┆ open      ┆ high      ┆ low       ┆ close     ┆ volume  │
│ ---        ┆ ---    ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---     │
│ date       ┆ str    ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ i64     │
╞════════════╪════════╪═══════════╪═══════════╪═══════════╪═══════════╪═════════╡
│ 2023-05-26 ┆ ATMU   ┆ 21.52217  ┆ 22.346508 ┆ 21.363262 ┆ 21.502306 ┆ 6277900 │
│ 2023-05-27 ┆ ATMU   ┆ null      ┆ null      ┆ null      ┆ null      ┆ null    │
│ 2023-05-28 ┆ ATMU   ┆ null      ┆ null      ┆ null      ┆ null      ┆ null    │
│ 2023-05-29 ┆ ATMU   ┆ null      ┆ null      ┆ null      ┆ null      ┆ null    │
│ 2023-05-30 ┆ ATMU   ┆ 21.1249   ┆ 21.750602 ┆ 20.856742 ┆ 21.522171 ┆ 892600  │
│ …          ┆ …      ┆ …         ┆ …         ┆ …         ┆ …         ┆ …       │
│ 2025-08-24 ┆ ATMU   ┆ null      ┆ null      ┆ null      ┆ null      ┆ null    │
│ 2025-08-25 ┆ ATMU   ┆ 43.795446 ┆ 44.334775 ┆ 43.730528 ┆ 44.154999 ┆ 662700  │
│ 2025-08-26 ┆ ATMU   ┆ 44.169998 ┆ 44.419998 ┆ 43.895    ┆ 44.040001 ┆ 585300  │
│ 2025-08-28 ┆ ATMU   ┆ 44.830002 ┆ 44.830002 ┆ 44.25     ┆ 44.59     ┆ 482600  │
│ 2025-08-29 ┆ ATMU   ┆ 44.560001 ┆ 44.779999 ┆ 44.16     ┆ 44.52     ┆ 604300  │
└────────────┴────────┴───────────┴───────────┴───────────┴───────────┴─────────┘

In [4]:
atmu.schema

Schema([('date', Date),
        ('symbol', String),
        ('open', Float64),
        ('high', Float64),
        ('low', Float64),
        ('close', Float64),
        ('volume', Int64)])

In [14]:
some_df = pl.DataFrame({
    "symbol": ["AAPL", "AAPL", "AAPL", "AAPL", "MSFT", "MSFT"],
    "close": [100, 150, 80, 72, 200, 220]
})
some_df.select(pl.col("close").log().diff().over('symbol').alias("log_returns_d"))

shape: (6, 1)
┌───────────────┐
│ log_returns_d │
│ ---           │
│ f64           │
╞═══════════════╡
│ null          │
│ 0.405465      │
│ -0.628609     │
│ -0.105361     │
│ null          │
│ 0.09531       │
└───────────────┘